.content__allCatalogo-aureaDream {
  width: 100%;
  height: 100%;

  &:has(.header-innerPage) .content-headerCatalgoo-aureaDream {
    padding-top: calc(70px + var(--space-8));
  }

  .content-headerCatalgoo-aureaDream {
    padding: var(--space-8) var(--space-16);

    display: flex;
    justify-content: space-between;
    align-items: end;

    .introductionCatalogo-aureaDream {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      .titleSecond {
        font-size: var(--font-size-4xl);
        width: fit-content;
      }

      .txt {
        font-size: var(--font-size-lg);
        width: 50ch;
        color: var(--ColorGray);
      }
    }

    .bx-content-filterTypeProducts {
      width: fit-content;
      height: fit-content;
      padding: var(--space-2) var(--space-4);
      background-color: var(--ColorBrowm);
      color: var(--color-bg);
      border-radius: 999px;
      cursor: pointer;
      transition: var(--transition-slow);

      &:hover {
        background-color: var(--ColorBrowmBlack);
      }
    }
  }

  .content__allSectionProducts-andFilters {
    display: flex;
    padding: 0 var(--space-16);
    gap: var(--space-16);

    .content__asideFilterProducts-catalogo {
      width: 320px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: var(--space-8);

      .txtCategory {
        display: block;
        width: fit-content;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin-bottom: 0.5rem;
      }

      .contain-category {
        .listCategory {
          display: flex;
          flex-direction: column;
          gap: var(--space-2);
          list-style: none;

          .bx-itemsListCategory {
            display: flex;
            align-items: center;
            gap: var(--space-3);

            #checkCategory {
              position: relative;
              appearance: none;
              border: 2px solid var(--ColorGray);
              width: 20px;
              height: 20px;
              border-radius: 999px;
              overflow: hidden;
              transition: var(--transition-slow);

              &:checked {
                position: relative;
                border-color: var(--ColorBrowmBlack);

                &::before {
                  content: "";
                  position: absolute;
                  width: 12px;
                  height: 12px;
                  background-color: var(--ColorBrowmBlack);
                  border-radius: 999px;
                  top: 53.5%;
                  left: 48%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            .itemsList-category {
              color: var(--ColorGray);
            }
          }
        }
      }
    }

    .contain-skinType {
      .listSkynType {
        display: flex;
        gap: var(--space-2);
        list-style: none;
        flex-wrap: wrap;

        .itemsListType {
          border: 2px solid var(--ColorBrowmBlack);
          border-radius: 999px;
          padding: var(--space-1) var(--space-3);
          cursor: pointer;
          transition: var(--transition-slow);

          &:hover {
            background-color: hsl(34, 26%, 57%, 50%);
          }
        }
      }
    }

    .contain-priceRange {
      .contain-barPriceRange {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        .barLine {
          position: relative;
          display: block;
          width: 100%;
          height: 8px;
          border-radius: 999px;
          background-color: var(--ColorSoftGrayLigther);

          &::before {
            content: "";
            position: absolute;
            width: 17px;
            height: 17px;
            background-color: var(--ColorBrowm);
            border-radius: 999px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: var(--transition-slow);
          }

          &::after {
            content: "";
            position: absolute;
            width: 52%;
            height: 100%;
            background-color: var(--ColorBrowm);
            z-index: 1;
            left: 0;
            border-radius: 999px 0 0 999px;
          }
        }

        .contain-range {
          display: flex;
          justify-content: space-between;
          color: var(--ColorGray);
        }
      }
    }

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--ColorGray);
    }

    .contaion-btn-options {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      .bx-btnOptions {
        width: 100%;
        height: 40px;
        border-radius: 999px;
        background-color: var(--ColorBrowm);
        overflow: hidden;
        transition: var(--transition-slow);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--ColorBrowmBlack);
        }

        .btnFilters {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          color: var(--color-bg);
          font-weight: bold;
          font-size: var(--font-size-ms);
          letter-spacing: 0.5px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        .clarAll {
          color: var(--ColorBlack);
        }
      }

      .clearAll {
        background-color: transparent;
        border: 3px solid var(--ColorBrowm);
        transition: var(--transition-slow);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border-color: var(--ColorBrowmBlack);

          .clarAll {
            color: var(--color-bg);
          }
        }
      }
    }

    .content__allProductsCatalogo {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: var(--space-8);

      .content-cardProduct-catalogo {
        width: 100%;
        height: fit-content;
        border-radius: var(--space-2);
        background-color: var(--ColorWhite);
        overflow: hidden;
        box-shadow: var(--shadow-lg);
        transition: var(--transition-slow);
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        display: block;

        &:hover {
          transform: scale(1.01);
          box-shadow: var(--shadow-xl);
        }

        .bx-imageProduct-catalogo {
          width: 100%;
          height: 350px;

          .imageProduct-catalogo {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .contain-infoProduct-catalogo {
          padding: var(--space-4);

          .infoProduct-catalogo {
            display: flex;
            flex-direction: column;
            gap: var(--space-1);

            .titleProduct-catalogo {
              font-size: var(--font-size-xl);
              letter-spacing: 0.2px;
            }

            .txt {
              color: var(--ColorGray);
            }
          }

          .priceProduct-catalogo {
            display: block;
            width: 100%;
            display: flex;
            justify-content: end;
            font-size: var(--font-size-xl);
            margin-top: 1rem;
            font-weight: bold;
            color: var(--ColorBrowmBlack);
          }
        }
      }
    }
  }
}
